.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: whitesmoke;
    background-color: #000;
    padding-top: 12px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}


.socialbtns .fa:hover {
    color: #FFFF00;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

#footer {
    position: relative;
    z-index: 100;
    background-color: #000;
    padding: 40px 0;
    margin-top: 60px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    #footer {
        padding: 30px 0;
        margin-top: 40px;
    }

    .socialbtns .fa {
        width: 35px;
        height: 24px;
        padding-top: 10px;
        font-size: 14px;
    }
}
